In [1]:
import pandas as pd

In [2]:
cancerdf = pd.read_excel("downloads/Merged_Cancer_Data2.xlsx")

In [3]:
cancerdf.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend
0,Iowa(7),19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable
1,US (SEER+NPCR)(1),0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling
2,Harrison County(7),19085,187.3,19,rising,158.9,18,stable,62.5,7,stable
3,Howard County(7),19089,182.8,11,stable,127.7,10,stable,46.2,4,*
4,Cherokee County(7),19035,171.6,14,rising,174.6,17,stable,44.1,5,falling

In [7]:
# Clean the 'County' column
cancerdf['County'] = cancerdf['County'].str.replace(r'\(\d+\)', '', regex=True).str.strip()
cancerdf.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable
1,US (SEER+NPCR),0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling

In [8]:
# Replace 'US (SEER+NPCR)' with 'United States'
cancerdf['County'] = cancerdf['County'].str.replace(r'US\s*\(.*?\)', 'United States', regex=True).str.strip()
cancerdf.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling

# Importing education datasets

In [40]:
gradeschool = pd.read_excel("downloads/Education less than 9th.xlsx")
gradeschool.head()

,County,FIPS,2023 Rural-Urban Continuum Codes([rural urban note]),Value (Percent),People (Education: Less Than 9th Grade),Rank within US
0,Iowa,19000.0,NaN,2.7,57376.0,11 of 52
1,United States,0.0,NaN,4.7,10732389.0,NaN
2,Boone County,19015.0,Urban,0.6,110.0,31 of 3143
3,Grundy County,19075.0,Urban,0.7,56.0,41 of 3143
4,Story County,19169.0,Urban,0.7,378.0,41 of 3143

In [41]:
gradeschool.drop('FIPS', axis=1, inplace=True)
gradeschool.drop('2023 Rural-Urban Continuum Codes([rural urban note])', axis=1, inplace=True)
gradeschool.drop('Value (Percent)', axis=1, inplace=True)
gradeschool.drop('Rank within US', axis=1, inplace=True)
gradeschool.head()

          County  People (Education: Less Than 9th Grade)
0           Iowa                                  57376.0
1  United States                               10732389.0
2   Boone County                                    110.0
3  Grundy County                                     56.0
4   Story County                                    378.0

In [42]:
highschool = pd.read_excel("downloads/Education at Least high school (1).xlsx")
highschool.drop('FIPS', axis=1, inplace=True)
highschool.drop('2023 Rural-Urban Continuum Codes([rural urban note])', axis=1, inplace=True)
highschool.drop('Value (Percent)', axis=1, inplace=True)
highschool.drop('Rank within US', axis=1, inplace=True)
highschool.head()

               County  People (Education: At Least High School)
0       United States                               204204444.0
1                Iowa                                 1995357.0
2        Davis County                                    4584.0
3  Buena Vista County                                   10529.0
4     Crawford County                                    8926.0

In [43]:
college = pd.read_excel("downloads/Education at least bachelors.xlsx")
college.drop('FIPS', axis=1, inplace=True)
college.drop('2023 Rural-Urban Continuum Codes([rural urban note])', axis=1, inplace=True)
college.drop('Value (Percent)', axis=1, inplace=True)
college.drop('Rank within US', axis=1, inplace=True)
college.head()

           County  People (Education: At Least Bachelor's Degree)
0            Iowa                                          660619
1   United States                                        79954302
2    Lucas County                                             883
3  Osceola County                                             661
4   Taylor County                                             637

## Merge education data to master set

In [44]:
# Merge the two datasets on the 'County' column
merged = pd.merge(cancerdf, gradeschool, on='County', how='inner')  # Use 'inner' to keep only matching rows
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend,People (Education: Less Than 9th Grade)
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable,57376.0
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling,10732389.0
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable,192.0
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*,310.0
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling,208.0

In [45]:
merged = pd.merge(merged, highschool, on='County', how='inner')  
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend,People (Education: Less Than 9th Grade),People (Education: At Least High School)
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable,57376.0,1995357.0
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling,10732389.0,204204444.0
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable,192.0,9541.0
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*,310.0,5833.0
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling,208.0,7749.0

In [46]:
merged = pd.merge(merged, college, on='County', how='inner') 
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend,People (Education: Less Than 9th Grade),People (Education: At Least High School),People (Education: At Least Bachelor's Degree)
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable,57376.0,1995357.0,660619
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling,10732389.0,204204444.0,79954302
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable,192.0,9541.0,2166
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*,310.0,5833.0,1189
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling,208.0,7749.0,1801

In [47]:
# Importing insurance dataset
notinsured = pd.read_excel("downloads/Insurance- Percent uninsured in demographic group, people at or below 138% of poverty.xlsx")
notinsured.drop('Rank within US', axis=1, inplace=True)
notinsured.head()

           County  People (Uninsured)
0            Iowa               38860
1   United States             7944794
2      Lee County                 354
3  Clinton County                 492
4    Wayne County                  87

## Merge insurance data to master set

In [48]:
merged = pd.merge(merged, notinsured, on='County', how='inner')  
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend,People (Education: Less Than 9th Grade),People (Education: At Least High School),People (Education: At Least Bachelor's Degree),People (Uninsured)
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable,57376.0,1995357.0,660619,38860
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling,10732389.0,204204444.0,79954302,7944794
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable,192.0,9541.0,2166,167
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*,310.0,5833.0,1189,117
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling,208.0,7749.0,1801,121

# Import race/ethinicity datasets

In [49]:
AIAN = pd.read_excel('downloads/Population - American IndianAlaskan Native.xlsx')
AIAN.head()

             County  American Indian/Alaskan Native
0              Iowa                         10998.0
1     United States                       2924996.0
2      Boone County                            12.0
3   Cherokee County                             0.0
4  Dickinson County                             4.0

In [50]:
AAPI = pd.read_excel('downloads/population - asian.xlsx')
AAPI.drop('FIPS', axis=1, inplace=True)
AAPI.drop('2023 Rural-Urban Continuum Codes([rural urban note])', axis=1, inplace=True)
AAPI.drop('Value (Percent)', axis=1, inplace=True)
AAPI.drop('Rank within US', axis=1, inplace=True)
AAPI.head()

          County  Asian American/Pacific Islander
0           Iowa                          82663.0
1  United States                       19981951.0
2   Adams County                              0.0
3   Davis County                              0.0
4  Keokuk County                              0.0

In [53]:
black = pd.read_excel('downloads/Population - Black (2).xlsx')
black.drop('FIPS', axis=1, inplace=True)
black.drop('2023 Rural-Urban Continuum Codes([rural urban note])', axis=1, inplace=True)
black.drop('Value (Percent)', axis=1, inplace=True)
black.drop('Rank within US', axis=1, inplace=True)
black.head()

            County  African American
0             Iowa          123234.0
1    United States        41070890.0
2    Clarke County               4.0
3     Davis County               0.0
4  Delaware County               2.0

In [55]:
hispanic = pd.read_excel('downloads/population - hispanic.xlsx')
hispanic.drop('FIPS', axis=1, inplace=True)
hispanic.drop('2023 Rural-Urban Continuum Codes([rural urban note])', axis=1, inplace=True)
hispanic.drop('Value (Percent)', axis=1, inplace=True)
hispanic.drop('Rank within US', axis=1, inplace=True)
hispanic.head()

          County    Hispanic
0           Iowa    223471.0
1  United States  63131589.0
2   Adams County        27.0
3  Monroe County        58.0
4   Wayne County        84.0

In [57]:
white = pd.read_excel("downloads/population - white data.xlsx")
white.drop('FIPS', axis=1, inplace=True)
white.drop('2023 Rural-Urban Continuum Codes([rural urban note])', axis=1, inplace=True)
white.drop('Value (Percent)', axis=1, inplace=True)
white.drop('Rank within US', axis=1, inplace=True)
white.head()

               County        White
0       United States  210875446.0
1                Iowa    2735263.0
2  Buena Vista County      13633.0
3     Crawford County      11418.0
4     Woodbury County      78375.0

In [58]:
foreign = pd.read_excel('downloads/Population - Foreign Born.xlsx')
foreign.drop('FIPS', axis=1, inplace=True)
foreign.drop('2023 Rural-Urban Continuum Codes([rural urban note])', axis=1, inplace=True)
foreign.drop('Value (Percent)', axis=1, inplace=True)
foreign.drop('Rank within US', axis=1, inplace=True)
foreign.head()

            County  Foreign Born
0             Iowa      182594.0
1    United States    46108901.0
2     Adams County           9.0
3  Delaware County          38.0
4      Cass County          49.0

## Merge race/ethnicity data to master set

In [59]:
# ALASKAN/AMERICAN INDIAN
merged = pd.merge(merged, AIAN, on='County', how='inner')  
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend,People (Education: Less Than 9th Grade),People (Education: At Least High School),People (Education: At Least Bachelor's Degree),People (Uninsured),American Indian/Alaskan Native
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable,57376.0,1995357.0,660619,38860,10998.0
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling,10732389.0,204204444.0,79954302,7944794,2924996.0
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable,192.0,9541.0,2166,167,11.0
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*,310.0,5833.0,1189,117,29.0
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling,208.0,7749.0,1801,121,0.0

In [60]:
# ASIAN AMERICAN/PACIFIC ISLANDER
merged = pd.merge(merged, AAPI, on='County', how='inner')  
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend,People (Education: Less Than 9th Grade),People (Education: At Least High School),People (Education: At Least Bachelor's Degree),People (Uninsured),American Indian/Alaskan Native,Asian American/Pacific Islander
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable,57376.0,1995357.0,660619,38860,10998.0,82663.0
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling,10732389.0,204204444.0,79954302,7944794,2924996.0,19981951.0
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable,192.0,9541.0,2166,167,11.0,45.0
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*,310.0,5833.0,1189,117,29.0,36.0
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling,208.0,7749.0,1801,121,0.0,67.0

In [61]:
# BLACK
merged = pd.merge(merged, black, on='County', how='inner')  
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend,People (Education: Less Than 9th Grade),People (Education: At Least High School),People (Education: At Least Bachelor's Degree),People (Uninsured),American Indian/Alaskan Native,Asian American/Pacific Islander,African American
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable,57376.0,1995357.0,660619,38860,10998.0,82663.0,123234.0
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling,10732389.0,204204444.0,79954302,7944794,2924996.0,19981951.0,41070890.0
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable,192.0,9541.0,2166,167,11.0,45.0,11.0
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*,310.0,5833.0,1189,117,29.0,36.0,5.0
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling,208.0,7749.0,1801,121,0.0,67.0,253.0

In [62]:
# HISPANIC
merged = pd.merge(merged, hispanic, on='County', how='inner')  
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend,People (Education: Less Than 9th Grade),People (Education: At Least High School),People (Education: At Least Bachelor's Degree),People (Uninsured),American Indian/Alaskan Native,Asian American/Pacific Islander,African American,Hispanic
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable,57376.0,1995357.0,660619,38860,10998.0,82663.0,123234.0,223471.0
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling,10732389.0,204204444.0,79954302,7944794,2924996.0,19981951.0,41070890.0,63131589.0
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable,192.0,9541.0,2166,167,11.0,45.0,11.0,305.0
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*,310.0,5833.0,1189,117,29.0,36.0,5.0,288.0
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling,208.0,7749.0,1801,121,0.0,67.0,253.0,551.0

In [63]:
# WHITE
merged = pd.merge(merged, white, on='County', how='inner')  
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,Lung Cancer Trend,People (Education: Less Than 9th Grade),People (Education: At Least High School),People (Education: At Least Bachelor's Degree),People (Uninsured),American Indian/Alaskan Native,Asian American/Pacific Islander,African American,Hispanic,White
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,stable,57376.0,1995357.0,660619,38860,10998.0,82663.0,123234.0,223471.0,2735263.0
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,falling,10732389.0,204204444.0,79954302,7944794,2924996.0,19981951.0,41070890.0,63131589.0,210875446.0
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,stable,192.0,9541.0,2166,167,11.0,45.0,11.0,305.0,14088.0
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,*,310.0,5833.0,1189,117,29.0,36.0,5.0,288.0,8876.0
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,falling,208.0,7749.0,1801,121,0.0,67.0,253.0,551.0,10535.0

In [64]:
# FOREIGN BORN
merged = pd.merge(merged, foreign, on='County', how='inner')  
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,...,People (Education: Less Than 9th Grade),People (Education: At Least High School),People (Education: At Least Bachelor's Degree),People (Uninsured),American Indian/Alaskan Native,Asian American/Pacific Islander,African American,Hispanic,White,Foreign Born
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,...,57376.0,1995357.0,660619,38860,10998.0,82663.0,123234.0,223471.0,2735263.0,182594.0
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,...,10732389.0,204204444.0,79954302,7944794,2924996.0,19981951.0,41070890.0,63131589.0,210875446.0,46108901.0
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,...,192.0,9541.0,2166,167,11.0,45.0,11.0,305.0,14088.0,102.0
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,...,310.0,5833.0,1189,117,29.0,36.0,5.0,288.0,8876.0,116.0
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,...,208.0,7749.0,1801,121,0.0,67.0,253.0,551.0,10535.0,414.0

# Import unemployment data

In [65]:
unemployment = pd.read_excel('downloads/Unemployed.xlsx')
unemployment.drop('FIPS', axis=1, inplace=True)
unemployment.drop('2023 Rural-Urban Continuum Codes([rural urban note])', axis=1, inplace=True)
unemployment.drop('Value (Percent)', axis=1, inplace=True)
unemployment.drop('Rank within US', axis=1, inplace=True)
unemployment.head()

            County  People Unemployed
0             Iowa            61411.0
1    United States          8759317.0
2  Mitchell County               53.0
3   Fremont County               30.0
4      Cass County               76.0

## Merge unemployment data to master set

In [67]:
merged = pd.merge(merged, unemployment, on='County', how='inner')  
merged.head()

,County,FIPS,Breast Cancer Rate,Breast Cancer Count,Breast Cancer Trend,Prostate Cancer Rate,Prostate Cancer Count,Prostate Cancer Trend,Lung Cancer Rate,Lung Cancer Count,...,People (Education: At Least High School),People (Education: At Least Bachelor's Degree),People (Uninsured),American Indian/Alaskan Native,Asian American/Pacific Islander,African American,Hispanic,White,Foreign Born,People Unemployed
0,Iowa,19000,136.9,2692,rising,125.9,2594,rising,54.3,1208,...,1995357.0,660619,38860,10998.0,82663.0,123234.0,223471.0,2735263.0,182594.0,61411.0
1,United States,0,129.8,258398,rising,113.2,224883,rising,48.4,106623,...,204204444.0,79954302,7944794,2924996.0,19981951.0,41070890.0,63131589.0,210875446.0,46108901.0,8759317.0
2,Harrison County,19085,187.3,19,rising,158.9,18,stable,62.5,7,...,9541.0,2166,167,11.0,45.0,11.0,305.0,14088.0,102.0,210.0
3,Howard County,19089,182.8,11,stable,127.7,10,stable,46.2,4,...,5833.0,1189,117,29.0,36.0,5.0,288.0,8876.0,116.0,78.0
4,Cherokee County,19035,171.6,14,rising,174.6,17,stable,44.1,5,...,7749.0,1801,121,0.0,67.0,253.0,551.0,10535.0,414.0,184.0

In [69]:
merged.to_excel('SemifinalMerge.xlsx', index=False)

# Health Data Merging